<html>
    
<%- include('header') %>
<h2>Curriculum</h2>
<div>
    <h3>Fabricio Luiz de Souza Pereira</h3>
    <ul>
        <li>Email: falus09@gmail.com</li>
        <li>Tel: 31993912072</li>
        <li>Idade: 35 anos</li>
        
    </ul>
    <h3>Objetivo</h3>
    <ul>
        <li>Estou em busca da minha primeira experiência profissional na área de Desenvolvimento
             com o objetivo de adquirir conhecimentos e contribuir para o crescimento da empresa.</li>
        <li>Possuo muita força de vontade e facilidade em aprender,</li>
        <li>Disposto a encarar grandes desafios profissionais que me permitam entrar no mercado de trabalho,
             desejaria fazer parte da equipe dessa empresa e contribuir para o desenvolvimento
             e a geração de resultados para todos</li>
    </ul>
    <h3>Formação</h3>
    <ul>
        <li>Ensino superior em Ciência da computaçao em curso na UniBH.</li> 
        <li>Estou fazendo o curso online de fullstack master ministrado por Tulio miranda devpleno</li>
    </ul>
    <h3>Experiência</h3>
    <ul>
        <li>Trabalhei 8 anos como auxiliar de rampa e limpeza numa empresa de reconhecimento mundial
            Swiisport,atualmente trabalho como auxiliar administrativo na UniBH
            no setor de informatica.
        </li>
    </ul>
    <h3>Qualificações</h3>
    <ul>
        <li>Proatividade.
            Boa comunicação.
            Relacionamento.
            Flexibilidade.
            Autoconfiança.
        </li>
    </ul>
</div>



<%- include('footer') %>